.description-text-wrapper
        background #ffffff
        padding 32px
        .content
                display flex
                flex-wrap wrap
                align-items flex-end
                padding 0 32px
                .inline-block-item
                        flex 0 0 25%
                        display flex
                        font-size 14px
                        line-height 28px
                        overflow hidden
                        .label
                                padding-right 8px
                                color rgba(0,0,0,.85)
                        .text
                                flex 1
                                color rgba(0,0,0,.65)
                                overflow hidden
                                text-overflow ellipsis
                                white-space nowrap
                                padding-right 30px
