@import "scrollbar.styl"
@import "common.styl"
@import "form.styl"
@import "description.styl"
@import "model.styl"

.text-dot-one
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

.name-btn
    color #34acff
    cursor pointer
    border-bottom 1px dashed #34acff
    display inline-block