.filtrate-item-wrapper
        margin-bottom 16px
        .title
                line-height 32px
                color #000000
                font-size 14px
                padding-left 16px
                margin 0
        .content
                background #FAFAFA
                padding 8px 16px
                border-radius 4px


