.info-box {
  .head-box {
    display: flex;
    justify-content: center;
    padding-top: 32px;

    .user {
      display: flex;
      align-items: center;
      flex-direction: column;

      .avatar {
        width: 104px;
        height: 104px;
        border: 1px dashed rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: #0093FF;
        overflow: hidden;

        .text {
          font-size: 28px;
          color: #ffffff;
        }
      }

      .name-type {
        margin: 16px 0 25px 0;
        font-size: 14px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;

        .user-name {
          font-size: 20px;
          font-weight: bold;
          padding-right: 8px;
        }
      }
    }
  }

  .item-box {
    display: flex;
    padding-top 25px;

    .info-left, .info-right {
      width: 50%;
    
      .label-item {
        height: 64px;
        font-size 14px
        display flex
        line-height 20px
        .info-label {
          width: 120px;
          text-align: right;
        }
        .info-txt{
            flex 1
        }
      }
    }
  }
  .info-table{
    // width: 100%
      margin:25px 0 16px 0
  }
}